.clearfix {
  overflow: hidden;
}

.wrapper {
  width: 960px;
  margin: 0 auto;

}
.pull-left {
    float: left;
}
.pull-right {
    float: right
}

.text-uppercase {
    text-transform: uppercase;
}


.fullscreen-bg {
    background: rgba(0, 0, 0, 0.5);
}

video {
    z-index: -100;
    transition: 1s opacity;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;

}

header {
    padding: 30px 0px;
    width:100%;
    position: absolute;
    top: 0;
}

header nav {
  width: 680px;
  text-align: right;
  font-family: 'Open-sans';
}

header .language-selector {
    overflow: hidden;
    margin-right: 30px;
}

header .language-selector ul {
    list-style: none;
    float: right;
    overflow: hidden;
    /*margin-top: -15px;*/
}

header .language-selector ul > li {
    float: left;
    margin-left: 4px;
    color: #fff;
}

header .language-selector ul > li:last-child {
    border-left: 2px solid;
    padding-left: 4px;
    color: #3B90A7;
}

header nav > ul {
  list-style: none;
}

nav > ul > li > .active {
    color: #3B90A7;
}

header nav > ul > li {
  float: left;
  text-align: left;
  padding: 15px 0;
  padding-left: 15px;
  text-decoration: none;
  vertical-align: middle;
}

header nav > ul > li > a {
  font-size: 18px;
  padding: 15px 0;
  text-decoration: none;
  list-style:none;
  color: #fff;
}


header nav > ul > li > a > span {
  font-size: 18px;
  padding: 16px 0;
  text-decoration: none;
  list-style:none;
  color: #fff;
  background: #00B0A0;
  border-radius: 25px;
  padding-left: 16px;
  padding-right: 16px;
}

.panel {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    postion: absolute;
    top: 0;
}


.panel > ul {
    color: #fff;
    list-style: none;
    text-align:center;

}


.panel > ul > li:first-child {
    font-size: 45pt;
    padding-bottom: 20px;
    font-weight: bold;
}

.panel >ul > li > hr {
    height: 2px;
    border-color: #3B90A7;
    background-color: #3B90A7;
}

.panel > ul > li:nth-child(3) {
    font-size: 30px;
    margin-bottom: 200px;
    margin-top: 20px;
    color: #3B90A7;
}


.panel > ul > li:last-child {
    width: 5px;
    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
    background: #3B90A7;
    padding-top: 15px;
    padding-bottom: 25px;

}

.brown {
    width: 100%;
    background: #4A3A29;
    font-family:'Open Sans';

}

.brown p:first-child {
    color: #3B90A7;
    margin: 0;
    padding-top: 80px;
}

.brown p:nth-child(2){
    color: #3B90A7;
    font-size: 25px;
    padding: 0;
    margin: 0;

}

.brown p:nth-child(3){
    padding: 0;
    margi-top: 20px;
    color: #fff;
}

.brown p:nth-child(4){
    padding: 0;
    margi-top: 20px;
    color: #fff;
}



.contents {
    width: 66%;
    float: left;
}

.contents > p:last-child {
    color: #999;
}

.panel-container {
    height: 460px;
    background-color: #4A3A29;

}

.input-group {
    max-width: 30%;
    float: right;
    overflow: hidden;
    margin-top: 90px;
}

.input-group input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 0;

}

.input-group input[type="submit"] {
    padding: 10px 65px;
    margin: 5px;
    background: #00AF9F;
    border: 0;

}
.slider {
    position: relative;
    width: 100%;
    height: 540px;
}
.slider img {
    height: 540px;
    position: absolute;
}
.slider img:nth-child(1) {
    left: -792px;
}
.slider img:nth-child(3) {
    right: -792px;
    overflow: hidden;

}
.slider img:nth-child(2) {
    left: 168px;
    width: 960px;
}


.slider2 {
    position: relative;
    width: 100%;
    height: auto;
}
.slider2 img {
    position: absolute;
}
.slider2 img:nth-child(1) {
    left: 0px;
    max-width: 25%;
}
.slider2 img:nth-child(3) {
    left: 646px;
    overflow: hidden;
    max-width: 25%;

}
.slider2 img:nth-child(2) {
    left: 324px;
    max-width: 25%;

}

.slidepanel {
    background-color: #4A3A29;
    height: 182px;

}

.cont {
    background: #f0f0f0;
    width: 100%;
}

.socialfeeds {
    width: 100%;
    margin: 0 auto;
    margin-top: 2px;
    padding: 50px;
}

.socialfeeds > p:nth-child(1) {
   color: #3B90A7;
   padding: 0;
   margin: 0;
}

.socialfeeds > p:nth-child(2) {
   color: #3B90A7;
    font-size: 25px;
    padding: 0;
    margin: 0;

}

.socialfeeds > ul {
    list-style: none;
    width: 960px;
    margin:0 auto;
    margin-top: 25px;
    padding: 0;
}

.socialfeeds > ul >li {
    list-style: none;
    display: inline-block;
    padding: 10px 70px;
    width: 60px;
    text-align: center;
    float

}

.socialfeeds > ul >li > a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.socialfeeds > ul > li:nth-child(1) {

    background: #4c4c4c;
    margin: -9px;
}

.socialfeeds > ul > li:nth-child(2) {

    margin: -9px;
    background: #5368CC;
}

.socialfeeds > ul > li:nth-child(3) {

    margin: -9px;
    background: #44a9f8;
}
.socialfeeds > ul > li:nth-child(4) {

    margin: -9px;
    background: #db2b31;
}

.socialfeeds > ul > li:nth-child(5) {

    margin: -9px;
    background: #758b9a;
}

.box1 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    background: #fff;
    padding: 20px;
    width: 45%;
    position: relative;
    float: left;
}

.box1 > ul {
    list-style: none;
}


.box1 > ul > img {
    border-radius: 50%;
}

.box > ul > li > a {
    text-decoration: none;
}

.box2 > ul > img {
    border-radius: 50%;
}

.box2 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    background: #fff;
    padding: 20px;
    width: 45%;
    position: relative;
    float: right;
}

.box2 ul {
    list-style: none;
}

.box3 > ul > img {
    border-radius: 50%;
}

.box3 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    background: #fff;
    padding: 20px;
    width: 45%;
    position: relative;
    float: left;
}

.box3 > ul {
    list-style: none;
}

.box4 > ul > img {
    border-radius: 50%;
}

.box4 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    background: #fff;
    padding: 20px;
    width: 45%;
    position: relative;
    float: right;
}

.box4 > ul {
    list-style: none;
}

.box5 > ul > img {
    border-radius: 50%;
}

.box5 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    background: #fff;
    padding: 20px;
    width: 45%;
    position: relative;
    float: left;
}

.box5 > ul {
    list-style: none;
}

.box6 > ul > img {
    border-radius: 50%;
}

.box6 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    background: #fff;
    padding: 20px;
    width: 45%;
    position: relative;
    float: right;
}

.box6 > ul {
    list-style: none;
}

.box7 > ul > img {
    border-radius: 50%;
}

.box7 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    background: #fff;
    padding: 20px;
    width: 45%;
    position: relative;
    float: left;
}

.box7 > ul {
    list-style: none;
}

.box8 > ul > img {
    border-radius: 50%;
}

.box8 {
    margin-top: 30px;
    text-align: left;
    list-style: none;
    display: block;
    padding: 20px;
    width: 45%;
    position: relative;
    float: right;
    background: #fff;
    margin-bottom: 50px;
}

.box8 > ul {
    list-style: none;
}

#gmap_canvas {
    position: relative;
    min-width:100%;
    min-height: 200px;
}

.map-add {
    padding: 20px;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 3430px;
    margin-left: 120px;
    font-family: 'Montserrat';

}

.map-add ul {
    list-style: none;
}


.map-add ul > p:nth-child(1) {
     color: #3B90A7;
     margin: 0;
     padding: 0;
}

.map-add ul > p:nth-child(2) {
     color: #3B90A7;
     font-size:25px;
     margin: 0;
     padding: 0;
     margin-bottom: 20px;
}

.map-add ul > li {
     color: #3B90A7;
}

.zbot {
    width: 100%;
    background: #493a29;
    vertical-align: center;
}

.bot-info img {
    margin-left: 320px;
}

.bot-info {
    padding: 50px;
    width: 100%;
    vertical-align: center;
    font-family: 'Montserrat';
}

.bot-info > ul {
    list-style: none;
    margin-left: 125px;
}

.bot-info > ul > li {
    display: inline-block;
}

.bot-info > ul > li > a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    margin-left: 10px;
}


/*
COSTUMIZE
*/

.fa {
    vertical-align: middle;
    color: #999;
}

.icon-circle {
    border-radius: 70px;
    border: 2px solid  #888;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #888;
    margin: 2px;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 0;
    vertical-align: middle;

}

.icon-circle i{
    margin-left: 8px;
    margin-top: 7px;
}


