.clearfix {
  overflow: hidden;
}

.wrapper {
  width: 960px;
  margin: 0 auto;

}
.pull-left {
    float: left;
}
.pull-right {
    float: right
}

.text-uppercase {
    text-transform: uppercase;
}


.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    transition: 1s opacity;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;

}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: auto;
    overflow: hidden;

}

.video-overlay {
    position:absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}


header {
    padding: 30px 0px;
    width:100%;
    position: absolute;
    overflow: auto;
}

header nav {
  overflow: auto;
  width: 680px;
  text-align: right;
}

header .language-selector {
    overflow: hidden;
    margin-right: 20px;
}

header .language-selector ul {
    list-style: none;
    float: right;
    overflow: hidden;
    /*margin-top: -15px;*/
}

header .language-selector ul > li {
    float: left;
    margin-left: 4px;
    color: #fff;
}

header .language-selector ul > li:last-child {
    border-left: 2px solid;
    padding-left: 4px;
    color: #3B90A7;
}

header nav > ul {
  list-style: none;
}

nav > ul > li > .active {
    color: #3B90A7;
}

header nav > ul > li {
  float: left;
  text-align: left;
  padding: 15px 0;
  padding-left: 15px;
  text-decoration: none;
  vertical-align: middle;
}

header nav > ul > li > a {
  font-size: 18px;
  padding: 15px 0;
  text-decoration: none;
  list-style:none;
  color: #fff;
}


header nav > ul > li > a > span{
  font-size: 18px;
  padding: 16px 0;
  text-decoration: none;
  list-style:none;
  color: #fff;
  background: #00B0A0;
  border-radius: 25px;
  padding-left: 16px;
  padding-right: 16px;
}


.panel {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.panel > ul {
    color: #fff;
    list-style: none;
    text-align:center;

}


.panel > ul > li:first-child {
    font-size: 50px;
}

.panel > ul > li:nth-child(2) {
    font-size: 20px;
    margin-bottom: 200px;
    margin-top: 50px;
}

.panel > ul > li:last-child {
    width: 5px;
    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
    background: #3B90A7;

}

.brown {
    width: 100%;
    margin-top: 685px;
    background: #4A3A29;

}

.brown p:first-child {
    color: #3B90A7;
    margin: 0;
    padding-top: 80px;
}

.brown p:nth-child(2){
    color: #3B90A7;
    font-size: 25px;
    padding: 0;
    margin: 0;

}

.brown > p {
    font-size: 15px;
    overflow: hidden;
}

.contents {
    width: 50%;
    float: left;
}

.panel-container {
    width: auto;
    overflow: auto;
    height: 100;
    margin-bottom: 50px;
    /*border: 4px solid red;*/
}

.input-group {
    max-width: 30%;
    float: right;
    overflow: hidden;
    margin-top: 90px;
}

.input-group input[type="text"] {
    padding: 10px;
    margin: 5px;

}

.input-group button[type="button"] {
    padding: 10px 60px;
    margin: 5px;
    background: #00AF9F;

}
.slider {
    position: relative;
    width: 100%;
    height: 540px;
}
.slider img {
    height: 540px;
    position: absolute;
}
.slider img:nth-child(1) {
    left: -792px;
}
.slider img:nth-child(3) {
    right: -792px;

}
.slider img:nth-child(2) {
    left: 168px;
    width: 960px;
}